nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    border-bottom: 1px solid var(--main-black);
    /* background: var(--dark-amethyst); */
    background: var(--indigo-ink);
    color: var(--main-white);
    box-shadow: 0 0 15px -5px var(--dark-amethyst);
    z-index: 9;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
nav ul a{
    color: var(--main-white);
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 10px;
}
nav ul li{
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &:hover,&.active{
        opacity: 1;
        background: oklch(from var(--blue-violet) l c h / 0.25);
    }
    &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 0;
        background: oklch(from var(--main-white) l c h / 0.5);
        transition: 0.3s;
        transform: translateY(-100%);
    }
    &:hover::after,&.active::after{
        width: 100%;
    }

}

main{
    padding: 20px 10%;
    color: var(--dark-amethyst);
}

.welcome-card{
    width: 100%;
    text-align: center;
    /* background: var(--dark-amethyst); */
    background: var(--gradient-top-right);
    color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px 10px -5px var(--dark-amethyst);

    &::after,&::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: url('../images/decore-left.png') no-repeat;
        background-size: 200px;
    }
    &::before{
        background: url('../images/decore-right.png') no-repeat;
        background-position: right top;
        left: 100%;
        transform: translateX(-100%);
    }
}
.welcome-card h1{
    margin-bottom: 15px;
    text-transform: capitalize;
    z-index: 1;
}
.welcome-card p{
    opacity: 0.9;
    z-index: 1;
}
footer{
    width: 100%;
    padding: 0 30px;
    text-transform: uppercase;
    overflow: hidden;
}
footer h2{
    border-top: 1px solid #37415188;
    font-size: 15rem;
    transform: translateY(10%);
}
footer p{
    padding: 0 10px;
}

.py-5{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card{
    border: 1px solid oklch(from var(--dark-amethyst) l c h / 0.4);
    border-radius: 7px;
    padding: 10px;
    background-color: var(--secondary-white);
    box-shadow: 0 3px 5px oklch(from var(--dark-amethyst) l c h / .07);
}
.card:has(.card-icon){
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.card .card-icon{
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 5px;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background: oklch(from var(--dark-amethyst) l c h / 0.8);
    color: var(--main-white);
}


/* Socail page */

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid oklch(from var(--main-black) l c h / 0.25);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}
.input-container .social-icon{
    width: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container .check-container{
    position: relative;
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: 0.3s;
    cursor: pointer;

    &:has(input:checked){
        background: #673ab7;
        color: var(--main-white);
    }
}
.input-container .check-container input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.input-container input{
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    padding: 10px;
    width: 100%;
}

/* Profile */
.avatar-st{
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--dark-amethyst);
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0 40px;
}
.avatar-st img{
    object-fit: cover;
    width: 100%;
}
.avatar-st input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.profile-form input{
    width: 100%;
}