:root{
/* --main-white: #efefef; */
--main-white: #fdfdfd;
--secondary-white: #fff;
--main-black: oklch(14.479% 0.00002 271.152);
--main-black-10: #0a0a0a1f;

/* CSS HEX */
--dark-amethyst: #28094Fff;
--rebecca-purple: #5E3E87ff;
--lavender-purple: #966FC9ff;
--indigo-ink: #371269ff;
--blue-violet: #853DE3ff;

/* CSS HSL */
--dark-amethyst: hsla(267, 80%, 17%, 1);
--rebecca-purple: hsla(266, 37%, 39%, 1);
--lavender-purple: hsla(266, 45%, 61%, 1);
--indigo-ink: hsla(266, 71%, 24%, 1);
--blue-violet: hsla(266, 75%, 56%, 1);


/* SCSS Gradient */
--gradient-top: linear-gradient(0deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-right: linear-gradient(90deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-bottom: linear-gradient(180deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-left: linear-gradient(270deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-top-right: linear-gradient(45deg, #28094Fff, #5E3E87ff);
--gradient-bottom-right: linear-gradient(135deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-top-left: linear-gradient(225deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-bottom-left: linear-gradient(315deg, #28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
--gradient-radial: radial-gradient(#28094Fff, #5E3E87ff, #966FC9ff, #371269ff, #853DE3ff);
}

@font-face {
    font-family: Orbitron;
    src: url('../fonts/Orbitron.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

body{
    min-height: 100vh;
    background-color: var(--main-white);
}

input, button{
    padding: 12px 10px;
    width: 30vw;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid oklch(from var(--main-black) l c h / 0.25);
    transition: 0.2s;
}
input:focus{
    box-shadow: 0 0 8px -5px var(--dark-amethyst);
}
input[type='password']::placeholder{
    font-weight: normal;
}
input[type='password']{
    font-weight: bold;
}
button{
    /* background: var(--lavender-purple); */
    background: transparent;
    color: var(--secondary-white);
    position: relative;
    padding: 13px 10px;
    cursor: pointer;
    overflow: hidden;
}
button::before,button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--lavender-purple);
    /* background: var(--rebecca-purple); */
}
button::after{
    background: var(--blue-violet);
    transform: translateX(-100%);
    transition: 0.3s;
}
button:hover::after,button:focus::after{
    transform: translateX(0);
}
a{
    text-decoration: none;
    color: var(--indigo-ink);
}

.stroked-text{
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #37415188;
    -webkit-text-fill-color: var(--main-white);
    text-stroke-width: 4px;
    text-stroke-color: #37415188;
    text-fill-color: var(--main-white);
    paint-order: stroke fill;
    -webkit-paint-order: stroke fill; 
}

[class^="grid-"]{
    display: grid;
    gap: 15px;
}
.grid-4{
    grid-template-columns: repeat(4,1fr);
}
.grid-2{
    grid-template-columns: repeat(2,1fr);
}