body{
    padding:0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background: var(--secondary-white);
    box-shadow: 0 0 8px oklch(from var(--main-black) l c h / 0.15);
    border-radius: 10px;
    overflow: hidden;
}
.social-images {
    position: relative;
    margin-bottom: 80px;
}
.social-images .banner{
    width: 40vw;
    height: 200px;
    background: url('../images/cardbg.jpg');
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: oklch(from var(--main-black) l c h / 0.25);
    }
}
.avatar-st{
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border: 5px solid var(--main-white);
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0 40px;
    position: absolute;
    top: 100%;
    left: 20px;
    transform: translateY(-70%);
}
.avatar-st img{
    object-fit: cover;
    width: 100%;
}

.info{
    padding: 0 20px;
}

.info div{
    margin: 20px 0;
}
.info div a{
    display: flex;
    align-items: center;
    border: 1px solid oklch(from var(--dark-amethyst) l c h / 0.4);
    padding: 15px 10px;
    border-radius: 5px;
    transition: 0.3s;
    gap: 10px;
    &:hover{
        box-shadow: 0 3px 5px oklch(from var(--dark-amethyst) l c h / .07);
    }
}
.info div a i{
    font-size: 1.3rem;
    padding: 2px;
}