{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="welcome-card">
        <h1>Welcome back, {{user.name}} 🎉</h1>
        <p>Let's make the world know about you !</p>
    </div>
    <div class="grid-4 py-5">
        <div class="card">
            <span class="card-icon"><i class="hgi hgi-stroke hgi-property-view"></i> </span>
            <div class="card-body">
                <h3 class="card-title">Total views</h3>
                <p>{{ data.total_views }}</p>
            </div>
        </div>
        <div class="card">
            <span class="card-icon">
                <i class="hgi hgi-stroke hgi-cursor-pointer-01"></i>
            </span>
            <div class="card-body">
                <h3 class="card-title">Total Clicks</h3>
                <p>{{ data.total_clicks }}</p>
            </div>
        </div>
        <div class="card">
            <span class="card-icon">
                <i class="hgi hgi-stroke hgi-link-06"></i>
            </span>
            <div class="card-body">
                <h3 class="card-title">Public Links</h3>
                <p>{{ data.public_links }}</p>
            </div>
        </div>
        <div class="card">
            <span class="card-icon">
                <i class="hgi hgi-stroke hgi-attachment-square"></i>
            </span>
            <div class="card-body">
                <h3 class="card-title">Draft Links</h3>
                <p>{{ data.draft_links }}</p>
            </div>
        </div>
    </div>
    <!-- <div id="chart"></div> -->
    <div class="grid-2">
        <div class="card">
            <h3 class="card-title">Impression overview</h3>
            <div id="overview"></div>
        </div>
        <div class="card">
            <h3 class="card-title">Social Impression</h3>
            <div id="social"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script/apex.js') }}" ></script>
    <!-- <script src="{{ url_for('static', filename='script/dashboard.js') }}" ></script> -->
    <script>
        var monthLabels = {{ month_labels | tojson }};
        var monthData = {{ month_data | tojson }};
        var socialLabels = {{ social_labels | tojson }};
        var socialData = {{ social_data | tojson }};

        var series1Data = monthData;
        var series2Data = [];

        var overviewOptions = {
            chart: {
                height: 350,
                type: "area"
            },
            dataLabels: {
                enabled: false
            },
            series: [
                {
                    name: "Impressions",
                    data: series1Data
                }
            ],
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 90, 100]
                }
            },
            xaxis: {
                categories: monthLabels
            }
        };

        var socialOptions = {
            series: socialData,
            chart: {
                height: 350,
                type: 'donut',
            },
            labels: socialLabels,
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var overviewChart = new ApexCharts(document.querySelector("#overview"), overviewOptions);
        var socialChart = new ApexCharts(document.querySelector("#social"), socialOptions);

        overviewChart.render();
        socialChart.render();
    </script>
{% endblock %}