{% extends "base.html" %}
{% block title %}Your social{% endblock %}
{% block content %}
<form class="profile-form" action="/profile" method="post" enctype="multipart/form-data">
    <div class="avatar-st">
        <img src="{{ url_for('static', filename='img') }}/{{user.avatar}}" alt="avatar" id="avatar">
        <input type="file" accept=".jpg, .jpeg" id="avatarInput" name="image">
    </div>
    <div class="grid-2">
        <input type="text" name="username" placeholder="Your username" value="{{user.username}}">
        <input type="text" name="email" placeholder="Your email" value="{{user.email}}">
        <input type="text" name="name" placeholder="Your name" value="{{user.name}}">
        <input type="text" name="country" placeholder="Your country" value="{{user.country}}">
    </div>
    <button style="width: 100%;margin: 20px 0;">Save</button>
</form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script/profile.js') }}" ></script>
{% endblock %}