<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}} space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/icon.css') }}">

</head>
<body>
    <main>
        <div class="social-images">
            <div class="banner"></div>
            <div class="avatar-st">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="avatar" id="avatar"> 
            </div>
        </div>
        <div class="info">
            <h1>{{user.name}}</h1>
            <div class="grid-2">
                {% for soc in social %}
                    {%if soc.url != '' and soc.visible%}
                        <a href="/redirect?url={{soc.url}}&us={{user.id}}">
                            <i class="hgi hgi-stroke hgi-{{soc_icon[soc.social]}}"></i>
                            <p>{{soc.social}} account</p>
                        </a>
                    {%endif%}
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>